main{
    background-image: url(/assets/images/bg/bgp.jpg);
    background-size: 600px;

  }

.bot{
    margin-left: 90%;
    width: 50px;
    padding-bottom: 5%;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
    background-color: #fff;
  }
 
  .border-bottom .imgL {
    width:80px;
    height:63px;
    margin-left:5%;
    padding: 5px 5px;
  }
  