@font-face {
      font-family: "Fontaw";
      src: url("/assets/fonts/VarelaRound-Regular.ttf");
    }

body{
  font-family: "Fontaw";
}
main{
    background-image: url(/assets/images/bg/bgp.jpg);
    background-size: 600px;

  }

.bot{
    margin-left: 90%;
    width: 50px;
    padding-bottom: 5%;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
    background-color: #fff;
    padding: 20px;
  }
 
  .border-bottom .imgL {
    width:80px;
    height:63px;
    margin-left:5%;
    padding: 5px 5px;
  }
.Ingre{
  padding: 10px;
  border: solid 2.2px transparent;
  width: 100%;
  background-color: #ce9676;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  opacity: 1;
}

.Ingre:hover{
  padding: 10px;
  border: none solid 3px ;
  width: 100%;
  opacity: 0.6;
  font-weight: bold;
  color: #fff;
  transition: 0.4s;
}


.link-secondary:hover{
  
  color:#7dc0f0;
  transition: 0.2s;

}

.bot{
  cursor: pointer;
}

.placeholder{
  border: none;
}
.modal-content{
margin-bottom: 10%;
 border-radius: 10px;
}

.form-control {
  transition: 0.2s;
}

.rounded-4{
border-radius: 10px;
}
.form-control:hover{
  background-color: #f7f9fc;
} 