@font-face {
      font-family: "Fontaw";
      src: url("/assets/fonts/VarelaRound-Regular.ttf");
    }

body{
  font-family: "Fontaw";
}
main{
    background-image: url(/assets/images/bg/bgp.jpg);
    background-size: 600px;

  }

.bot{
    margin-left: 90%;
    width: 50px;
    padding-bottom: 5%;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
    background-color: #fff;
    padding: 20px;
  }
 
  .border-bottom .imgL {
    width:80px;
    height:63px;
    margin-left:5%;
    padding: 5px 5px;
  }
.Ingre{
  padding: 10px;
  border: solid 2.2px #000;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  color: #000;
}
.Ingre:hover{
  padding: 10px;
  border: none solid 3px ;
  width: 100%;
  background-color: #000;
  font-weight: bold;
  color: #fff;
  transition: 0.4s;
}


.link-secondary:hover{
  
  color:#7dc0f0;
  transition: 0.2s;

}

.bot{
  cursor: pointer;
}