.bg-tuntun{
    background-color: #e0f1ff;
}
.scrollsa{
    background-color: #fff;
    border: none;
    padding-top: 36px;
}
.reporte_calificacion_servicio
{
width: 100% !important;
height: 450px;
}